<!DOCTYPE html>
<html>
<head>
	<title>ToDo List</title>
    <link rel="stylesheet" type="text/css" href="app.css">
</head>
<body>
	<header>
 <h1>todo<span>list</span></h1>
 <h2>A simple todo list app built with node </h2>
</header>
<section class="form">
	<input type="text" id="todoInput" placeholder="Insert your task here...">
	</section>
	<ul class="list">
		
	</ul>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
 <script type="text/javascript" src="app.js"></script>
</body>
</html>